body{
margin:0;
font-family:sans-serif;
background:linear-gradient(180deg,#0b1220,#02040a);
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.card{
width:90%;
max-width:380px;
background:rgba(255,255,255,0.05);
border-radius:20px;
padding:25px;
text-align:center;
backdrop-filter:blur(20px);
box-shadow:0 0 40px rgba(0,150,255,.2);
}

.icon{
font-size:50px;
margin-bottom:10px;
}

button{
margin-top:20px;
width:100%;
padding:14px;
border:none;
border-radius:12px;
font-size:16px;
background:#1e88ff;
color:white;
cursor:pointer;
}

.progress{
margin-top:15px;
height:8px;
background:#111;
border-radius:10px;
overflow:hidden;
}

#bar{
height:100%;
width:0%;
background:#1e88ff;
transition:.3s;
}